<footer class="border-top footer text-muted">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md text-center text-md-left align-self-center py-2">
                <p>Universidade Federal de Mato Grosso (@DateTime.Now.Year)</p>
                <p>Escritório de Inovação Tecnológica</p>
                <p>Gerência de Empreendedorismo, Incubação <br class="d-md-none" /> e Propriedade Intelectual</p>
            </div>
            <div class="col-md-auto text-center align-self-start align-self-md-center">
                <a class="" asp-area="admin" asp-page="/Index">
                    <img class="admin-link" alt="eit" width="208" height="40" src="~/images/eit_preto.png">
                </a>
            </div>
        </div>
    </div>
</footer>