<footer class="border-top footer text-muted">
    <div class="container">
        2021 - EmpreendedorismoEIT
        <a class="" asp-area="admin" asp-page="/Index">Administração</a>
    </div>
</footer>