<header>
    <nav class="navbar navbar-light navbar-expand-sm">
        <div class="container">
            <a class="row no-gutters align-items-center brand" asp-area="" asp-page="/Index">
                <div class="col pr-2">
                    <img class="svg-filter d-lg-none" alt="ufmt" width="40" height="40"
                         src="~/images/ufmt_logo_azul.svg">
                    <img class="svg-filter d-none d-lg-block" alt="ufmt" width="60" height="60"
                         src="~/images/ufmt_sigla_azul.svg">
                </div>
                <div class="col-auto">
                    <span class="brand-name">
                        <span class="d-lg-none">EIT - UFMT</span>
                        <span class="d-none d-lg-inline">ESCRITÓRIO DE INOVAÇÃO TECNOLÓGICA - EIT</span>
                    </span><br />
                    <span class="brand-sub">EMPREENDEDORISMO</span>
                </div>
            </a>
            <div class="navbar d-none d-sm-flex px-0">
                <div class="navbar-nav">
                    <a class="nav-link" asp-area="" asp-page="/Index">INÍCIO</a>
                    <a class="nav-link" asp-area="" asp-page="/Incubadora">INCUBADORA</a>
                    <a class="nav-link d-none d-lg-block" asp-area="" asp-page="/Junior">EMPRESAS JUNIORES</a>
                    <a class="nav-link d-block d-lg-none" asp-area="" asp-page="/Junior">E. JUNIORES</a>
                    <a class="nav-link" asp-area="" asp-page="/Sobre">SOBRE</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-mobile">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <nav id="nav-mobile" class="collapse text-center d-sm-none">
        <div class="row no-gutters border-top">
            <div class="col border-right">
                <a class="nav-link link-fill" asp-area="" asp-page="/Index">INÍCIO</a>
            </div>
            <div class="col">
                <a class="nav-link link-fill" asp-area="" asp-page="/Sobre">SOBRE</a>
            </div>
        </div>
        <div class="row no-gutters border-top">
            <div class="col border-right">
                <a class="nav-link link-fill" asp-area="" asp-page="/Incubadora">INCUBADORA</a>
            </div>
            <div class="col">
                <a class="nav-link link-fill" asp-area="" asp-page="/Junior">EMPRESAS JUNIORES</a>
            </div>
        </div>
    </nav>
</header>