<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="row no-gutters align-items-center brand" asp-area="" asp-page="/Index">
                <div class="col pr-2">
                    <img class="svg-filter d-lg-none" alt="ufmt" width="40" height="40"
                         src="~/images/ufmt_logo_azul.svg">
                    <img class="svg-filter d-none d-lg-block" alt="ufmt" width="60" height="60"
                         src="~/images/ufmt_sigla_azul.svg">
                </div>
                <div class="col-auto">
                    <span class="brand-name">
                        <span class="d-lg-none">EIT - UFMT</span>
                        <span class="d-none d-lg-inline">EIT - Escritório de Inovação Tecnológica</span>
                    </span><br />
                    <span class="brand-sub">Empreendedorismo</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="navbar-nav flex-grow-1 text-center mt-1 mt-sm-0">
                    <a class="nav-link ml-sm-auto" asp-area="" asp-page="/Index">Início</a>
                    <a class="nav-link" asp-area="" asp-page="/Incubadora">Incubadora</a>
                    <a class="nav-link d-sm-none d-lg-block" asp-area="" asp-page="/Junior">Empresas Juniores</a>
                    <a class="nav-link d-none d-sm-block d-lg-none" asp-area="" asp-page="/Junior">E. Juniores</a>
                    <a class="nav-link" asp-area="" asp-page="/Sobre">Sobre</a>
                </div>
            </div>
        </div>
    </nav>
</header>