@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Servicos.EditModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Editar P/S";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = SectionManager.Juniores;
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = SectionManager.Incubadas;
    }
}

<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="row">
                <div class="col">
                    <h5 class="subtitle">Editar produto ou serviço</h5><hr class="mt-0" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="alert alert-info alert-dismissible custom-alert fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="bi bi-x"></i></span>
                        </button>
                    </div>
                    <input type="hidden" asp-for="ProdServVM.EmpresaID" />
                    <div class="form-group">
                        <label asp-for="ProdServVM.Nome" class="control-label"></label>
                        <input asp-for="ProdServVM.Nome" class="form-control maxcounter" />
                        <span asp-validation-for="ProdServVM.Nome"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProdServVM.Descricao" class="control-label"></label>
                        <textarea asp-for="ProdServVM.Descricao" class="form-control maxcounter" rows="5"></textarea>
                        <span asp-validation-for="ProdServVM.Descricao"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <a asp-area="Admin" asp-page="./Index" asp-route-id="@Model.Empresa.ID" class="btn btn-outline-secondary">Voltar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
