@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.Tags.CreateMultiple
@using EmpreendedorismoEIT.ViewModels

@{
    ViewData["Title"] = "Adicionar tags";
    ViewData["Section"] = SectionManager.Tags;
    ViewData["SectionTitle"] = "Tags";
}

<form method="post">
    <div class="form-row menu-bar">
        <div class="col-12 col-md form-group align-self-center text-center text-md-left">
            <h5 class="d-inline subtitle">
                Adicionar tags
                <span class="badge">@Model.Quantidade</span>
            </h5>
        </div>
        <div class="col-12 col-md-auto form-group">
            <select name="n" class="form-control custom-select text-center text-md-right w-100" onchange="this.form.submit()">
                <option value="" disabled selected hidden>Alterar quantidade</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <partial name="_ValidationMessage" />
    <div class="row">
        @for (var i = 0; i < Model.Quantidade; i++)
        {
            <div class="col-lg-6 mb-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">@(i+1)</label>
                        </div>
                        <input asp-for="ListaTagVM[i].Nome" class="form-control maxcounter" placeholder="Nome" />
                    </div>
                    <span asp-validation-for="ListaTagVM[i].Nome"></span>
                </div>
                <div class="form-group">
                    <select asp-for="ListaTagVM[i].Cor" class="form-control custom-select"
                            asp-items="@Html.GetEnumSelectList<Cores>().OrderBy(s => s.Text)">
                        <option value="" disabled selected hidden>Cor</option>
                    </select>
                    <span asp-validation-for="ListaTagVM[i].Cor"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">
        @*<div class="@(Model.Quantidade == 1 ? "col-lg-6" : "") col text-right">*@
        <div class="col text-right">
            <hr class="mt-0"/>
            <a asp-page="Index" class="btn btn-outline-secondary">Voltar</a>
            <input type="submit" class="btn btn-primary" value="Adicionar" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
