@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.Tags.CreateModel
@using EmpreendedorismoEIT.ViewModels

@{
    ViewData["Title"] = "Adicionar tag";
    ViewData["Section"] = SectionManager.Tags;
    ViewData["SectionTitle"] = "Adicionar tag";
}

<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <partial name="_ValidationMessage" />
            <div class="form-group">
                <label asp-for="TagVM.Nome" class="control-label"></label>
                <input asp-for="TagVM.Nome" class="form-control maxcounter" />
                <span asp-validation-for="TagVM.Nome"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagVM.Cor" class="control-label"></label>
                <select asp-for="TagVM.Cor" class="form-control custom-select"
                        asp-items="@Html.GetEnumSelectList<Cores>().OrderBy(s => s.Text)"></select>
                <span asp-validation-for="TagVM.Cor"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-right">
            <a asp-page="Index" class="btn btn-outline-secondary">Voltar</a>
            <input type="submit" value="Adicionar" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}