@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Tags.EditModel
@using EmpreendedorismoEIT.ViewModels

@{
    ViewData["Title"] = "Editar tag";
    ViewData["Section"] = SectionManager.Tags;
    ViewData["SectionTitle"] = "Editar tag";
}

<form method="post">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <partial name="_ValidationMessage" />
            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <partial name="_StatusMessage" model="Model.TagHiddenMessage" />
            <input type="hidden" asp-for="TagVM.ID" />
            <div class="form-group">
                <label asp-for="TagVM.Nome" class="control-label"></label>
                <input asp-for="TagVM.Nome" class="form-control maxcounter" />
                <span asp-validation-for="TagVM.Nome"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagVM.Cor" class="control-label"></label>
                <select asp-for="TagVM.Cor" class="form-control custom-select"
                        asp-items="@Html.GetEnumSelectList<Cores>().OrderBy(s => s.Text)"></select>
                <span asp-validation-for="TagVM.Cor"></span>
            </div>
            <div class="form-group text-right">
                <a asp-page="Index" class="btn btn-outline-secondary">Voltar</a>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-delete">Excluir</button>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
        @if (Model.ListaAssoc.Count > 0)
        {
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <div class="card-header tag-card-header">
                        <h5 class="tag-card-title">Empresas associadas</h5>
                    </div>
                    <div class="list-group list-group-flush">
                        @foreach (var item in Model.ListaAssoc)
                        {
                            <div class="list-group-item py-xl-3">
                                <span class="d-block info-title">@Html.DisplayFor(modelItem => item.NomeSit)</span>
                                @Html.DisplayFor(modelItem => item.Grau)%
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</form>

@* Modal de exclusão *@
<div class="modal fade" id="modal-delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o item "@Model.TagVM.Nome"?</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-page="Delete">
                    <input type="hidden" asp-for="TagVM.ID" class="modal-item-id" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}