@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Administração";
    ViewData["Section"] = "Inicio";
    ViewData["SectionTitle"] = "Bem-vindo(a)";
}

<div class="text-center my-5 offset-md-2 col-md-8 ">
    <img src="~/images/ufmt_preto.svg" width="100" height="100" asp-append-version="true" />
    <h1 class="display-4">EIT - UFMT</h1>
    <p>Plataforma de divulgação para as iniciativas empreendedoras do Escritório de Inovação Tecnológica da UFMT.</p>
</div>
