@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Administração";
    ViewData["Section"] = "Inicio";
    ViewData["SectionTitle"] = "Bem-vindo(a)";
}

<div class="text-center my-5 offset-md-2 col-md-8 ">
    <img src="~/images/ufmt_preto.svg" width="100" height="100" asp-append-version="true" />
    <h1 class="display-4">EIT - UFMT</h1>
    <p>Plataforma de divulgação para as iniciativas empreendedoras do Escritório de Inovação Tecnológica da UFMT.</p>
</div>
<div class="row">
    <div class="col-6 col-lg-3 mb-4">
        <div class="card dash-card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-truncate pr-0 font-weight-bold">JUNIORES</div>
                    <div class="col-auto pl-2">
                        <span class="">
                            <i class="bi bi-pencil-fill"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body dash-body text-white text-center font-weight-bolder p-1">
                <span>@Model.Dashboard.Juniores</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
        <div class="card dash-card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-truncate pr-0 font-weight-bold">INCUBADAS</div>
                    <div class="col-auto pl-2">
                        <span class="">
                            <i class="bi bi-smartwatch"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body dash-body text-white text-center font-weight-bolder p-1">
                <span>@Model.Dashboard.Incubadas</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
        <div class="card dash-card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-truncate pr-0 font-weight-bold">TAGS</div>
                    <div class="col-auto pl-2">
                        <span class="">
                            <i class="bi bi-bookmarks-fill"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body dash-body text-white text-center font-weight-bolder p-1">
                <span>@Model.Dashboard.Tags</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
        <div class="card dash-card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-truncate pr-0 font-weight-bold">SERVIÇOS</div>
                    <div class="col-auto pl-2">
                        <span class="">
                            <i class="bi bi-bar-chart-line-fill"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body dash-body text-white text-center font-weight-bolder p-1">
                <span>@Model.Dashboard.Servicos</span>
            </div>
        </div>
    </div>
</div>