@{
    var adminUser = (User.IsInRole("admin"));
}

<div class="list-group">
    <a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)"
       asp-page="./Index">Perfil</a>
    @if (adminUser)
    {
        <a class="list-group-item list-group-item-action @ManageNavPages.ResgisterNavClass(ViewContext)"
           asp-page="./Register">Usuários</a>
    }
    <a class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)"
       asp-page="./PersonalData">Dados pessoais</a>
</div>