@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-lg-6">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <p>Os dados pessoais associados a esse usuáro podem ser excluídos de uma vez só com o encerramento da conta. As informações de empresas cadastradas ou alteradas serão mantidas.</p>
        <form asp-page="./DeletePersonalData" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-danger" disabled>Excluir conta</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        input = $("#Input_Password")
        submit = $("#Input_Password").closest('form').find(':submit')
        input.keyup(() => {
            if (input.valid() == true) {
                submit.removeAttr('disabled')
            } else {
                submit.attr('disabled', true)
            }
        });
    </script>
}