@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Redes.IndexModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Redes sociais";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = "Juniores";
        Model.ReturnURL = "/Juniores/Index";
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = "Incubadas";
        Model.ReturnURL = "/Incubadas/Index";
    }
}

<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="row">
                <div class="col">
                    <h5 class="subtitle">Redes sociais</h5><hr class="mt-0" />
                    <p>Copie e cole da barra de endereços para garantir que o link da rede social esteja correto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="alert alert-primary alert-dismissible fade show" role="alert" style="background: none !important;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="bi bi-x"></i></span>
                        </button>
                    </div>
                    <input type="hidden" asp-for="SocialVM.EmpresaID" />
                    <div class="form-group">
                        <label asp-for="SocialVM.FacebookURL" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="bi-facebook input-group-text"></i>
                            </div>
                            <input asp-for="SocialVM.FacebookURL" class="form-control" />
                        </div>
                        <span asp-validation-for="SocialVM.FacebookURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SocialVM.InstagramURL" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="bi-instagram input-group-text"></i>
                            </div>
                            <input asp-for="SocialVM.InstagramURL" class="form-control" />
                        </div>
                        <span asp-validation-for="SocialVM.InstagramURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SocialVM.WhatsappURL" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="bi-whatsapp input-group-text"></i>
                            </div>
                            <input asp-for="SocialVM.WhatsappURL" class="form-control number-only" />
                        </div>
                        <span asp-validation-for="SocialVM.WhatsappURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SocialVM.TwitterURL" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="bi-twitter input-group-text"></i>
                            </div>
                            <input asp-for="SocialVM.TwitterURL" class="form-control" />
                        </div>
                        <span asp-validation-for="SocialVM.TwitterURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SocialVM.WebsiteURL" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="bi-globe input-group-text"></i>
                            </div>
                            <input asp-for="SocialVM.WebsiteURL" class="form-control" />
                        </div>
                        <span asp-validation-for="SocialVM.WebsiteURL" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <a asp-area="Admin" asp-page="@Model.ReturnURL" class="btn btn-outline-secondary">Voltar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
