@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 pb-3">
        <section>
            <form id="account" method="post">
                <h4 class="header-title">Acesso administrativo</h4>
                <hr class="mt-2 mb-3" />
                <div asp-validation-summary="ModelOnly" class="alert alert-info alert-dismissible custom-alert fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="bi bi-x"></i></span>
                    </button>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" spellcheck="false" autofocus />
                    <span asp-validation-for="Input.UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password"></span>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4 class="header-title">Gerencie as empresas cadastradas</h4>
            <hr class="mt-2 mb-3" />
            <div>
                <p>
                    Nesta seção é possível atualizar os dados de contato, redes sociais e texto descritivo das empresas juniores da UFMT, bem como das empresas associadas à Incubadora Priante. Adicione os novos produtos e serviços oferecidos e configure o sistema de recomendação. Disponível apenas para gestores do Escritório de Inovação Tecnológica.
                </p>
                <p>Usuário de teste: <b>eitufmt/eitufmt</b></p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
