@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.CreateModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Criar EJ";
    ViewData["Section"] = SectionManager.Juniores;
    ViewData["SectionTitle"] = "Adicionar empresa júnior";
}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-xl-5">
            <div class="form-group">
                <h5 class="subtitle">Dados básicos</h5><hr class="mt-0" />
            </div>
            <div asp-validation-summary="ModelOnly" class="alert alert-info alert-dismissible custom-alert fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x"></i></span>
                </button>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Nome" class="control-label">Nome <span class="label-sub">🞹</span></label>
                <input asp-for="JuniorVM.Nome" class="form-control" />
                <span asp-validation-for="JuniorVM.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Endereco" class="control-label">Endereço <span class="label-sub">🞹</span></label>
                <textarea asp-for="JuniorVM.Endereco" class="form-control" rows="2" placeholder="Dentro do campus"></textarea>
                <span asp-validation-for="JuniorVM.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Telefone" class="control-label">Telefone <span class="label-sub">(Apenas números)  <span class="label-sub">🞹</span></span></label>
                <input type="tel" asp-for="JuniorVM.Telefone" class="form-control number-only"
                       placeholder="DDD + Telefone" />
                <span asp-validation-for="JuniorVM.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Email" class="control-label">Email  <span class="label-sub">🞹</span></label>
                <input asp-for="JuniorVM.Email" class="form-control" />
                <span asp-validation-for="JuniorVM.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Situacao" class="control-label">Situação  <span class="label-sub">🞹</span></label>
                <select asp-for="JuniorVM.Situacao" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<Situacao>()"></select>
                <span asp-validation-for="JuniorVM.Situacao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 col-xl-5">
            <div class="form-group">
                <label asp-for="JuniorVM.Campus" class="control-label">Campus  <span class="label-sub">🞹</span></label>
                <select asp-for="JuniorVM.Campus" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<Campus>()"></select>
                <span asp-validation-for="JuniorVM.Campus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Instituto" class="control-label">Instituto / Faculdade  <span class="label-sub">🞹</span></label>
                <input asp-for="JuniorVM.Instituto" class="form-control" placeholder="Associado à EJ"/>
                <span asp-validation-for="JuniorVM.Instituto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.DescricaoCurta" class="control-label"> Descrição  <span class="label-sub">🞹</span></label>
                <textarea asp-for="JuniorVM.DescricaoCurta" class="form-control" rows="4"></textarea>
                <span asp-validation-for="JuniorVM.DescricaoCurta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuniorVM.Logo" class="control-label">Logotipo <span class="label-sub">(Apenas .jpg e .png)</span></label>
                <div class="custom-file">
                    <input asp-for="JuniorVM.Logo" class="custom-file-input" id="input-logo" accept=".png, .jpg, .jpeg" />
                    <label class="custom-file-label text-truncate" for="input-logo"></label>
                </div>
                <span asp-validation-for="JuniorVM.Logo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="JuniorVM.DescricaoLonga" class="control-label">Descrição longa <span class="label-sub">(Opcional)</span></label>
            <textarea asp-for="JuniorVM.DescricaoLonga" class="form-control" rows="4"></textarea>
            <span asp-validation-for="JuniorVM.DescricaoLonga" class="text-danger"></span>
        </div>*@
            <div class="form-group text-right mt-4">
                <a asp-page="./Index" class="btn btn-outline-secondary">Voltar</a>
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@* Modal de upload de imagem *@
<div class="modal fade" id="modal-upload" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajustar logotipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-container text-center">
                    <img id="img-canvas" alt="Arquivo inválido" src="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-select">Selecionar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_UploadScriptsPartial");}
}
