.custom-file-label::after {
    content: "Escolher" !important;
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

i.input-group-text {
    font-size: 1.4rem;
    color: darkgray;
}

i.icon-msg {
    font-size: 2rem;
    color: darkgray;
}

.pr-custom {
    padding-right: 1.7rem;
}

@media (min-width: 768px) {
    dd.border-custom {
        /*border-right: #007bff solid 0.2rem;*/
        border-left: #99caff solid 0.2rem;
        box-sizing: border-box;
    }
}

.username.dropdown-toggle::after {
    content: none !important;
}

.username i {
    vertical-align: 0.1em;
    font-size: 0.8rem;
}

.header-title {
    line-height: normal;
    margin-bottom: 0px;
}

.tag-button {
    /*border-color: #eff2f5;*/
    border-color: unset;
}

.tag-button:hover {
    /*border-color: #eff2f5;*/
    border-color: unset;
    filter: opacity(0.7);
}

.card {
    width: 12rem;
}

.card img {
    height: 8rem;
}

.card-title {
    color: #0366d6;
}

/*.card {
    width: 21rem;
    flex-direction: row;
    align-items: center;
}

.card-title {
    font-weight: bold;
}

.card img {
    width: 7rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}*/