.custom-file-label::after {
    content: "Escolher" !important;
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

i.input-group-text {
    font-size: 1.4rem;
    color: darkgray;
}

i.icon-msg {
    font-size: 2rem;
    color: darkgray;
}

.pr-custom {
    padding-right: 1.7rem;
}

.pl-custom {
    padding-left: 1.7rem;
}

@media (min-width: 768px) {
    dd.border-custom {
        border-left: #99caff solid 0.2rem;
        box-sizing: border-box;
    }
}

.username.dropdown-toggle::after {
    content: none !important;
}

.username i {
    vertical-align: 0.1em;
    font-size: 0.8rem;
}

.header-title {
    line-height: normal;
    margin-bottom: 0px;
}

.tag-button {
    border-color: unset;
}

.tag-button:hover {
    border-color: unset;
    filter: opacity(0.7);
}

@media (min-width: 576px) {
    .card img {
        height: 8rem;
    }
}


.card-title {
    color: #0366d6;
}

h4.title-h4 {
    color: #404040;
    font-size: 1.4rem;
}