input:placeholder-shown {
    font-weight: 300;
}

.custom-file-label::after {
    content: "Escolher" !important;
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a.input-group-text i {
    color: darkgray;
}

i.input-group-text {
    font-size: 1.4rem;
    color: darkgray;
}

i.icon-msg {
    font-size: 2rem;
    color: darkgray;
}

/*.pr-custom {
    padding-right: 1.7rem;
}

.pl-custom {
    padding-left: 1.7rem;
}*/

a.username.dropdown-toggle::after {
    content: none !important;
}

a.username i {
    vertical-align: 0.1em;
    font-size: 0.8rem;
}

h1 {
    color: #333333;
}

h4.header-title {
    line-height: normal;
    margin-bottom: 0px;
    color: #333333;
}

h5.subtitle {
    color: #666666;
    font-size: 1.3rem;
}

th, .info-title {
    color: #8c8c8c;
    font-weight: 500;
}

.tag-button {
    border-color: rgba(0,0,0,.125);
}

.tag-button:hover {
    border-color: rgba(0,0,0,.125);
    filter: opacity(0.7);
}

.card-emp .card-title {
    color: #0366d6;
    line-height: normal;
}

a.text-decoration-none:hover .card-title {
    text-decoration: underline;
}

a.text-decoration-none:hover .card{
    background-color: #f8f9fa !important;
}

a.text-decoration-none:active .card {
    background-color: #e9ecef !important;
}

.emp-text, .emp-text:hover, .emp-text:visited, .emp-text:link, .emp-text:active {
    color: #212529;
}

.badge-custom {
    color: #fff;
    background-color: #c8ccd0;
}

.grau-badge {
    vertical-align: 0.1em;
    background-color: rgba(0,0,0,.125);
}

.grau-card {
    min-width: 9rem;
}

.msg-empty {
    background-color: rgba(0,0,0,.05);
}

.dash-body {
    background-color: rgba(0,0,0,.125);
    font-size: 2rem;
}

.dash-card {
    background-color: #f5f2f7;
    color: #b3b3b3;
}

.upload-container img{
    max-height: 60vh;
}

.custom-alert {
    background-color: #f5fdff;
}

.menu-bar {
    height: 2.375rem;
}

.card-details {
    border-radius: .25rem;
}

img.card-img-left {
    width: 100%;
    border-right: 0rem !important;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-btn-lateral:first-child {
    border-top-left-radius: 0rem;
}

.card-btn-lateral:last-child {
    border-bottom-left-radius: 0rem;
}

@media (min-width: 768px) {
    
}
