/*hr.break {
    height: 10px;
    box-shadow: 0 0.25rem 0.75rem -0.75rem #404040 inset;
}*/

/*.curved {
    position: relative;
    background: rgba(195,195,195, 0.3);
    border-bottom-left-radius: 20rem 30%;
    border-bottom-right-radius: 20rem 30%;
}*/

.card-emp .card-title {
    color: #0366d6;
    line-height: normal;
}

a.card-link:hover .card-title {
    text-decoration: underline;
}

a.card-link:hover .card {
    background-color: #f8f9fa !important;
}

a.card-link:active .card {
    background-color: #e9ecef !important;
}

.emp-text, .emp-text:hover, .emp-text:visited, .emp-text:link, .emp-text:active {
    color: #212529;
}

p.desc {
    font-size: 1.25rem;
}

img.banner {
}

/*.card-col{
    max-width: 14rem;
}*/

