/*hr.break {
    height: 10px;
    box-shadow: 0 0.25rem 0.75rem -0.75rem #404040 inset;
}*/

section.banner-top {
    background-color: #03396c;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.btn-primary {
    color: #fff;
    background-color: #4579e2;
    border-color: #4579e2;
}

.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #3461c1;
    border-color: #3461c1;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #4968ab;
    border-color: #4968ab;
}

h1 {
    color: #595959;
}

.card-emp:hover {
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
    backface-visibility: hidden;
}

.card-emp .card-title {
    color: #4579e2;
    line-height: normal;
}

a.card-link:hover .card {
    background-color: #f8f9fa !important;
}

a.card-link:active .card {
    background-color: #e9ecef !important;
}

.emp-text, .emp-text:hover, .emp-text:visited, .emp-text:link, .emp-text:active {
    color: #212529;
}

p.desc {
    font-size: 1.25rem;
}

img.banner {
}

img.divider {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
}