@page
@model IncubadoraModel
@using EmpreendedorismoEIT.Utils
@{
    ViewData["Title"] = "Incubadora Priante";
}

<div class="container">
    @*Descrição da incubadora*@
    <section class="mt-5 px-xl-section">
        <div class="text-center">
            <h1>Incubadora <br class="d-sm-none" /> Priante</h1>
            <p class="desc px-3 px-md-5">Incubadora de negócios empenhada em estimular e prestar apoio logístico, gerencial e tecnológico ao empreendedorismo intensivo em conhecimento, buscando facilitar a criação e desenvolvimento de empresas que tenham como diferencial a realização de atividades voltadas para inovação.</p>
        </div>
    </section>

    @*Atividades*@
    <section class="mb-5 px-xl-section">
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pr-md-3 pr-lg-5 mb-4 mb-md-0">
                <img src="~/images/priante.png" width="320" height="320" alt="priante" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-left">
                <p class="desc mb-0 px-3 px-md-0">A Incubadora Priante, cuja entidade gestora é o Escritório de Inovação Tecnológica, é pertencente à Universidade Federal de Mato Grosso. Foi criada a partir da resolução CD Nº 09 de 2019 com a finalidade de ser um mecanismo de geração de empreendimentos inovadores que busquem a solução de problemas e desafios sociais ou ambientais e contribuam para o crescimento do sistema produtivo local, regional e nacional.</p>
            </div>
        </div>
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pl-md-3 pl-lg-5 mb-4 mb-md-0 order-md-1">
                <img src="~/images/mesa.jpg" width="320" height="320" alt="priante" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-right">
                <p class="desc mb-0 px-3 px-md-0">Disponibiliza serviços, assessoria técnica e infraestrutura física e tecnológica para empreendimentos em diversos estágios do processo como pré-incubação, incubação, graduação e empreendimento associado através de editais de seleção abertos regularmente no âmbito da universidade.</p>
            </div>
        </div>
    </section>

    @*Empresas incubadas*@
    @if (Model.ListaEmp.Count > 0)
    {
        <section class="mt-section">
            <div class="text-center">
                <h3>Empreendimentos <br class="d-sm-none" /> Associados</h3>
                <hr class="line-divider" />
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 justify-content-md-center lista-emp">
                @foreach (var item in Model.ListaEmp)
                {
                    <div class="col col-emp">
                        <a asp-page="Empresa" asp-route-id="@item.EmpresaID" class="card-link">
                            <div class="card h-100">
                                <img src="@LogoManager.URLImagem(Url, item.Empresa.Logo)" class="card-img-top" alt="logo">
                                <div class="card-body border-top">
                                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Empresa.Nome)</h5>
                                    <p class="card-text emp-text">@item.MesEntrada.ToString("MM/yyyy")</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    }
</div>

