@page
@model EmpreendedorismoEIT.Pages.IncubadoraModel
@{
    ViewData["Title"] = "Incubadora Priante";
}

<div class="container">
    @*Descrição da incubadora*@
    <section class="mt-5 px-xl-section">
        <div class="text-center">
            <h1>Incubadora Priante</h1>
            <p class="desc px-3 px-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        </div>
    </section>

    @*Atividades*@
    <section class="mb-5 px-xl-section">
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pr-md-3 pr-lg-5 mb-4 mb-md-0">
                <img src="~/images/priante.png" alt="priante" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-left">
                <p class="desc mb-0 px-3 px-md-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pl-md-3 pl-lg-5 mb-4 mb-md-0 order-md-1">
                <img src="~/images/priante.png" alt="priante" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-right">
                <p class="desc mb-0 px-3 px-md-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>
    </section>

    @*Empresas incubadas*@
    @if (Model.ListaEmp != null)
    {
        <section class="mt-section">
            <div class="text-center">
                <h3>Empreendimentos <br class="d-sm-none" /> Associados</h3>
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 lista-emp">
                @foreach (var item in Model.ListaEmp)
                {
                    <div class="col col-emp">
                        <a asp-page="Empresa" asp-route-id="@item.EmpresaID" class="card-link">
                            <div class="card">
                                <img src="@(String.IsNullOrEmpty(item.Empresa.Logo)? "../images/empty_logo.png" : "../logo/" + item.Empresa.Logo)"
                                     class="card-img-top" alt="logo">
                                <div class="card-body border-top">
                                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Empresa.Nome)</h5>
                                    <p class="card-text emp-text">@item.MesEntrada.ToString("MM/yyyy")</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    }
</div>

