@page
@model IndexModel
@using EmpreendedorismoEIT.Utils
@{
    ViewData["Title"] = "Empreendedorismo";
}

@*Banner de entrada*@
<section class="banner-top">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-8 p-4">
                <img src="~/images/tags_index.png" alt="nuvem" class="w-100 banner" />
            </div>
            <div class="col-lg-4 p-4 text-center text-lg-left">
                <p class="desc">Descubra qual empresa oferece os serviços que você procura.</p>
                <a asp-page="NuvemTags" class="btn btn-lg btn-primary">Faça o teste</a>
            </div>
        </div>
    </div>
    <img class="divider reduced-motion" src="~/vectors/divider_static.svg" alt="divisor" />
    <img class="divider motion" src="~/vectors/divider.svg" alt="divisor" />
</section>

@*Ecossistema de empresas*@
<section class="container pt-4">
    <div class="text-center px-3 px-md-5 px-xl-section">
        <h1>Ecossistema</h1>
        <p class="desc mb-4">Para que a sociedade aproprie-se do conhecimento gerado pela UFMT em forma de produtos, serviços e processos de melhoria contínua, o Escritório de Inovação Tecnológica tem como eixo estratégico a cultura empreendedora. De modo que a universidade possa cumprir suas funções de ensino, pesquisa, extensão e inovação, através da criação de valores econômicos, sociais, culturais e ambientais por meio de parcerias.</p>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 lista-emp">
        @foreach (var item in Model.ListaEmp)
        {
            <div class="col col-emp">
                <a asp-page="Empresa" asp-route-id="@item.ID" class="card-link">
                    <div class="card h-100">
                        <img src="@LogoManager.URLImagem(Url, item.Logo)" class="card-img-top" alt="logo">
                        <div class="card-body border-top">
                            <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Nome)</h5>
                            <p class="card-text emp-text">@Html.DisplayFor(modelItem => item.Tipo)</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>