@page
@model IndexModel
@{
    ViewData["Title"] = "Empreendedorismo";
}

@*Banner de entrada*@
<section class="banner-top">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-8 p-4">
                <img src="~/images/placeholder.png" width="600" height="300" alt="nuvem" class="w-100 banner" />
            </div>
            <div class="col-lg-4 p-4 text-center text-lg-left">
                <p class="desc">Descubra qual empresa oferece os serviços que você procura.</p>
                <a href="" class="btn btn-lg btn-primary">Faça o teste</a>
            </div>
        </div>
    </div>
    <img class="divider reduced-motion" src="~/images/divider_static.svg" alt="divisor" />
    <img class="divider motion" src="~/images/divider.svg" alt="divisor" />
</section>

@*Ecossistema de empresas*@
<section class="container pt-4">
    <div class="text-center px-3 px-md-5 px-xl-section">
        <h1>Ecossistema</h1>
        <p class="desc mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 lista-emp">
        @foreach (var item in Model.ListaEmp)
        {
            <div class="col col-emp">
                <a asp-page="Empresa" asp-route-id="@item.ID" class="card-link">
                    <div class="card">
                        <img src="@(String.IsNullOrEmpty(item.Logo)? "../images/empty_logo.png" : "../logo/" + item.Logo)"
                             class="card-img-top" alt="logo">
                        <div class="card-body border-top">
                            <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Nome)</h5>
                            <p class="card-text emp-text">@Html.DisplayFor(modelItem => item.Tipo)</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>