@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var emptyImage = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
}

<section class="banner-top text-white">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-8 p-4">
                <img src="~/images/placeholder.png" width="600" height="300" alt="nuvem" class="w-100 banner" />
            </div>
            <div class="col-lg-4 p-4 text-center text-lg-left">
                <p class="desc">Descubra qual empresa oferece os serviços que você procura.</p>
                <a href="" class="btn btn-lg btn-primary">Faça o teste</a>
            </div>
        </div>
    </div>
    <svg class="editorial"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 "
         preserveAspectRatio="none">
        <defs>
            <path id="gentle-wave"
                  d="M-160 44c30 0
        58-18 88-18s
        58 18 88 18
        58-18 88-18
        58 18 88 18
        v44h-352z" />
        </defs>
        <g class="parallax1">
            <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
        </g>
        <g class="parallax2">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
        </g>
        <g class="parallax3">
            <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
        </g>
        <g class="parallax4">
            <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
        </g>
    </svg>
</section>
<section class="container py-4 px-sm-5">
    <div class="text-center mb-4">
        <h1>Ecossistema</h1>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        @foreach (var item in Model.ListaEmp)
        {
            <div class="col card-col p-3 p-sm-4">
                <a asp-page="Details" asp-route-id="@item.ID" class="card-link">
                    <div class="card card-emp">
                        <img src="@(String.IsNullOrEmpty(item.Logo)? "../images/empty_logo.png" : "../logo/" + item.Logo)"
                                class="card-img-top" alt="logo">
                        <div class="card-body border-top">
                            <h5 class="card-title text-truncate">@Html.DisplayFor(modelItem => item.Nome)</h5>
                            <p class="card-text emp-text">@Html.DisplayFor(modelItem => item.Tipo)</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>