@page
@model NuvemTagsModel
@{
    ViewData["Title"] = "Recomendação";

    //Calcular altura da nuvem
    //De acordo com a quantidade de tags
    var ccHeight = (Model.ListaTags.Count / 6) * 4;
}

<div class="container px-xl-section">
    <section class="mt-5">
        <div class="text-center">
            <h1>Recomendação <br class="d-sm-none" /></h1>
            <p class="desc px-3 px-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </section>
    @*<div class="border w-100" style="height: 4rem"></div>*@
    <form method="post" asp-page="NuvemResultado" id="form-cloud">
        @if (Model.ListaTags.Count > 0)
        {
            <div class="cloud-container mx-auto">
                <input type="hidden" name="ListaTagsTxt" id="lista-tags" />
                <vue-word-cloud id="tag-cloud" font-family="FingerPaint" :spacing="0.8" :font-size-ratio="2"
                    :words="[
                    @foreach (var item in Model.ListaTags)
                    {
                        @($"{{ text: '{item.Nome}', weight: {item.NumAssociacoes}, color: '{item.CorHTML}', fontVariant: '{item.ID}'}},");
                        //Console.WriteLine($"{{ text: '{item.Nome}', weight: {item.Associacoes}, color: '{item.CorHTML}', fontVariant: '{item.ID}'}},");
                    }
                    ]">
                    <template slot-scope="{word}">
                        <div class="tag-container">
                            <input class="tag-input" :id="'tag-'+word.fontVariant" type="checkbox" name="ListaTagsCbx" :value="word.fontVariant">
                            <label class="tag-word" :for="'tag-'+word.fontVariant">{{ word.text }}</label>
                        </div>
                    </template>
                </vue-word-cloud>
            </div>
            <div class="text-right">
                <hr />
                <input type="submit" value="Recomendar" class="btn btn-lg btn-primary" disabled />
            </div>
        }
        else
        {
            <div class="border text-center msg-empty mx-auto p-4 desc box-round">
                <i class="bi bi-x-diamond icon-msg"></i><br />
                <p>
                    <span>Esta página utiliza tags descritivas para a recomendação. Porém nenhuma empresa possui tags associadas ainda.</span>
                    <span>Tente novamente mais tarde.</span>
                </p>
                <a asp-page="Index">Voltar para o início</a>
            </div>
        }
    </form>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/tagcloud.css" />
    <style>
        .cloud-container {
            height: @((ccHeight + 16) + "rem");
        }
        @@media (min-width: 576px) {
            .cloud-container {
                height: @((ccHeight + 24) + "rem");
            }
        }
    </style>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_TagCloudScriptsPartial");}
}
