@page
@model EmpreendedorismoEIT.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre";
}

<div class="container">
    @*Descrição do EIT*@
    <section class="mt-5 px-xl-section">
        <div class="text-center">
            <h1>Escritório de Inovação Tecnológica</h1>
            <p class="desc px-3 px-md-5">Núcleo de inovações tecnológicas que tem por finalidade a gestão de política institucional de inovação da UFMT. Desenvolve ações relacionadas a cada um dos três eixos estratégicos: o fomento à cultura e educação empreendedora, o estímulo à inovação a construção de alianças estratégicas.</p>
        </div>
    </section>

    @*Insitucional*@
    <section class="mb-5 px-xl-section">
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pr-md-3 pr-lg-5 mb-4 mb-md-0">
                <img src="~/images/brasao.jpg" width="320" height="320" alt="brasao" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-left">
                <p class="desc mb-0 px-3 px-md-0">Estabelecido pela resolução CD Nº 17 de 2016 em consonância com o Novo Marco Legal da Inovação, o EIT tem por base a promoção das atividades científicas e tecnológicas como estratégia para o desenvolvimento econômico e social. Valendo-se do seu papel de articulador na busca de parceiros internos e externos para alavancar o desenvolvimento de projetos inovadores dentro e fora do ambiente acadêmico.</p>
            </div>
        </div>
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pl-md-3 pl-lg-5 mb-4 mb-md-0 order-md-1">
                <img src="~/images/reitoria.jpg" width="320" height="320" alt="reitoria" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-right">
                <p class="desc mb-0 px-3 px-md-0">Além do trabalho voltado para a proteção da propriedade intelectual no âmbito da universidade, o EIT busca garantir que o conhecimento gerado pela UFMT viabilize a concepção de empreendimentos, produtos e serviços que promovam a melhoria da sociedade e o bem-estar das pessoas através do estímulo à cultura do empreendedorismo e do processo de aceleração e incubação de empresas.</p>
            </div>
        </div>
    </section>

    @*Contato*@
    <section class="mt-section">
        <div class="text-center">
            <h3>Contato</h3>
            <p class="desc px-3 px-md-5 text-lines">
                <span>Av. Edgar Vieira, S/N. <br class="d-sm-none" /> Boa Esperança. Cuiabá - MT</span>
                <span class="word-space">
                    <a href="https://pt-br.facebook.com/eitufmt" target="_blank">Facebook</a><spacer>
                    <a href="https://br.linkedin.com/company/eit-ufmt" target="_blank">LinkedIn</a><spacer> 
                    <a href="https://www.instagram.com/eitufmt" target="_blank">Instagram</a>
                </span>
                <span><a href="mailto:ufmt.inovacao@gmail.com">ufmt.inovacao@gmail.com</a></span>
                <span>(65) 3313-7340</span>
                <br />
            </p>
        </div>
    </section>
</div>
