@page
@model EmpreendedorismoEIT.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre";
    throw new Exception();
}

<div class="container">
    @*Descrição do EIT*@
    <section class="mt-5 px-xl-section">
        <div class="text-center">
            <h1>Escritório de Inovação Tecnológica</h1>
            <p class="desc px-3 px-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        </div>
    </section>

    @*Insitucional*@
    <section class="mb-5 px-xl-section">
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pr-md-3 pr-lg-5 mb-4 mb-md-0">
                <img src="~/images/brasao.jpg" width="320" height="320" alt="brasao" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-left">
                <p class="desc mb-0 px-3 px-md-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>
        <div class="row align-items-center mt-section">
            <div class="col-md-auto text-center pl-md-3 pl-lg-5 mb-4 mb-md-0 order-md-1">
                <img src="~/images/reitoria.jpg" width="320" height="320" alt="reitoria" class="round-corner" />
            </div>
            <div class="col-md text-center text-md-right">
                <p class="desc mb-0 px-3 px-md-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>
    </section>

    @*Contato*@
    <section class="mt-section">
        <div class="text-center">
            <h3>Contato</h3>
            <p class="desc px-3 px-md-5 text-lines">
                <span>Av. Edgar Vieira, S/N. <br class="d-sm-none" /> Boa Esperança. Cuiabá - MT</span>
                <span class="word-space">
                    <a href="https://pt-br.facebook.com/eitufmt" target="_blank">Facebook</a><spacer>
                    <a href="https://br.linkedin.com/company/eit-ufmt" target="_blank">LinkedIn</a><spacer> 
                    <a href="https://www.instagram.com/eitufmt" target="_blank">Instagram</a>
                </span>
                <span><a href="mailto:ufmt.inovacao@gmail.com">ufmt.inovacao@gmail.com</a></span>
                <span>(65) 3313-7340</span>
                <br />
            </p>
        </div>
    </section>
</div>
