@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Incubadas.EditModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Editar EI";
    ViewData["Section"] = "Incubadas";
    ViewData["SectionTitle"] = "Editar empresa incubada";
}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="alert alert-primary alert-dismissible fade show" role="alert" style="background: none !important;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x"></i></span>
                </button>
            </div>
            <input type="hidden" asp-for="IncubadaVM.ID" />
            <div class="form-group">
                <label asp-for="IncubadaVM.Nome" class="control-label"></label>
                <input asp-for="IncubadaVM.Nome" class="form-control" />
                <span asp-validation-for="IncubadaVM.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.DescricaoCurta" class="control-label"></label>
                <textarea asp-for="IncubadaVM.DescricaoCurta" class="form-control" rows="2"></textarea>
                <span asp-validation-for="IncubadaVM.DescricaoCurta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.DescricaoLonga" class="control-label"></label>
                <textarea asp-for="IncubadaVM.DescricaoLonga" class="form-control" rows="4"></textarea>
                <span asp-validation-for="IncubadaVM.DescricaoLonga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.Endereco" class="control-label"></label>
                <input asp-for="IncubadaVM.Endereco" class="form-control" />
                <span asp-validation-for="IncubadaVM.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.Telefone" class="control-label"></label>
                <input type="tel" asp-for="IncubadaVM.Telefone" class="form-control number-only" />
                <span asp-validation-for="IncubadaVM.Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="IncubadaVM.Email" class="control-label"></label>
                <input asp-for="IncubadaVM.Email" class="form-control" />
                <span asp-validation-for="IncubadaVM.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.Logo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="IncubadaVM.Logo" class="custom-file-input" id="customFile" alt="">
                    <label class="custom-file-label text-truncate" for="customFile"></label>
                </div>
                <span asp-validation-for="IncubadaVM.Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.Situacao" class="control-label"></label>
                <select asp-for="IncubadaVM.Situacao" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<Situacao>()"></select>
                <span asp-validation-for="IncubadaVM.Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.AnoIncubacao" class="control-label"></label>
                <input asp-for="IncubadaVM.AnoIncubacao" class="form-control number-year" />
                <span asp-validation-for="IncubadaVM.AnoIncubacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncubadaVM.Edital" class="control-label"></label>
                <input asp-for="IncubadaVM.Edital" class="form-control" />
                <span asp-validation-for="IncubadaVM.Edital" class="text-danger"></span>
            </div>
            <div class="form-group text-right mt-4">
                <a asp-page="./Details" asp-route-id="@Model.IncubadaVM.ID" class="btn btn-outline-secondary">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
