@model int

@if (Model > 0)
{
    <div class="card mb-4" id="step-card">
        <div class="card-header">
            <span>Passo-a-passo</span>
            <button type="button" class="close" data-dismiss="alert" data-target="#step-card" aria-label="Close">
                <span aria-hidden="true"><i class="bi bi-x"></i></span>
            </button>
        </div>
        <div class="card-body">
            <p class="card-text text-justify">Empresa criada com sucesso. Aproveite para cadastrar os produtos e serviços oferecidos, adicionar as redes sociais que ela possui e não se esqueça também de configurar a parte de recomendação. Quanto mais informações disponíveis, maiores as chances da empresa encontrar parceiros de negócio.</p>
            <div class="text-right">
                <a asp-page="/Servicos/Index" asp-route-id="@Model" class="btn btn-primary">
                    Cadastrar produtos e serviços
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </div>
        </div>
    </div>
}