<div class="card mb-4" id="step-card">
    <div class="card-header">
        <span>Passo-a-passo  (5/6)</span>
        <button type="button" class="close" data-dismiss="alert" data-target="#step-card" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x"></i></span>
        </button>
    </div>
    <div class="card-body">
        <p class="card-text text-justify">Falta apenas configurar a parte de <b>recomendação</b>. As tags disponíveis na seção <a asp-page="/Tags/Index">Tags</a> do menu lateral são usadas para detalhar a área de atuação da empresa e o que ela oferece para o mercado. O grau de associação definido também é empregado na hora de sugerir qual a empresa mais adequada ao perfil do cliente.</p>
    </div>
</div>