<div class="card mb-4" id="step-card">
    <div class="card-header">
        <span>Passo-a-passo  (4/6)</span>
        <button type="button" class="close" data-dismiss="alert" data-target="#step-card" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x"></i></span>
        </button>
    </div>
    <div class="card-body">
        <p class="card-text text-justify"> Agora que alguns produtos e serviços foram cadastrados, está na hora de adicionar os perfis que a empresa possui nas <b>redes sociais</b>. Incluindo site próprio ou número de WhatsApp, se estiverem disponíveis. Facilitar o contato externo e construir uma presença digital ajudam bastante na divulgação.</p>
    </div>
</div>