<div class="card mb-4" id="step-card">
    <div class="card-header">
        <span>Passo-a-passo</span>
        <button type="button" class="close" data-dismiss="alert" data-target="#step-card" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x"></i></span>
        </button>
    </div>
    <div class="card-body">
        <p class="card-text text-justify"> Liste os principais <b>produtos e serviços</b> oferecidos e forneça um descrição breve para cada um deles. Procure retratar aquilo que diferencia a empresa na área e dar uma ideia ao cliente do que ele pode encontrar ao entrar em contato.</p>
    </div>
</div>