<div class="list-group">
    <a class="list-group-item list-group-item-action
                               @(ViewData["Section"].Equals("Inicio") ? "active" : "")"
       asp-area="Admin" asp-page="/Index">Início</a>
    <a class="list-group-item list-group-item-action
                               @(ViewData["Section"].Equals("Juniores") ? "active" : "")"
       asp-area="Admin" asp-page="/Juniores/Index">Empresas juniores</a>
    <a class="list-group-item list-group-item-action
                               @(ViewData["Section"].Equals("Incubadas") ? "active" : "")"
       asp-area="Admin" asp-page="/Incubadas/Index">Empresas incubadas</a>
    <a class="list-group-item list-group-item-action
                               @(ViewData["Section"].Equals("Tags") ? "active" : "")"
       asp-area="Admin" asp-page="/Tags/Index">Nuvem de tags</a>
</div>